/* Container styles Box Principal - Home */
#BoxPrincipal {
  width: 100%;
  overflow-x: hidden;
}
.bgContainerImg {
  position: relative;
  width: 100%;
  background-image: url("/sats-conf-bg.png"); /* Caminho para a sua imagem PNG */
  background-size: cover; /* Cobertura total da área do elemento */
  background-position: cover; /* Posicionamento central da imagem */
  background-repeat: no-repeat;
  z-index: 1;
}

.bgContainerMargin {
  margin: 0 16px 0 16px;
}

.boxprincipal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.sc-bg-container {
  width: 23.75rem;
}

.boxprincipal span,
.boxprincipal h1 {
  color: var(--white);
  font-family: "Krona One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.boxprincipal h1 {
  font-size: 2.25rem;
}
.boxprincipal span {
  font-size: 1rem;
}

.btningresso-img {
  padding: 36px 0;
}

.bgContainerPrincipal {
  width: 110rem 0;
  height: 40rem;
  padding: 15rem 0 15rem 0;
}

@media screen and (max-width: 767px) {
  /* Estilos específicos para dispositivos móveis */

  #BoxPrincipal {
    width: 700px;
    overflow-x: hidden;
  }

  .boxprincipal h1 {
    font-size: 1.8rem;
  }

  .bgContainerPrincipal {
    width: 380px;
    height: 35rem;
  }
  .bgContainer {
    width: 442px;
    height: 50rem; /* Reduzindo a altura do contêiner */
  }

  .sc-bg-container {
    width: 20.62rem; /* Usando a largura total para dispositivos móveis */
    margin-bottom: 20px; /* Adicionando espaço entre o texto e os botões */
  }

  .bgContainerImg {
    width: 100%;
    height: auto;
    background-size: cover; /* Cobertura total da área do elemento */
    background-position: center; /* Posicionamento central da imagem */
    overflow-x: hidden;
  }

  .btningresso-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  /* Altere para telas maiores */

  .boxprincipal {
    width: 980px;
    justify-content: space-between;
    margin-top: -80px;
  }
}
@media screen and (min-width: 280px) and (max-width: 653px) {
  .sc-bg-container {
    width: 16, 25rem; /* Usando a largura total */
  }

  .boxprincipal span {
    font-size: 0.6rem;
  }

  .bgContainerImg {
    width: 100%;
    height: auto;
    background-size: cover; /* Cobertura total da área do elemento */
    background-position: center; /* Posicionamento central da imagem */
    overflow-x: hidden;
  }
}

@media screen and (min-width: 320px) and (max-width: 568px) {
  /* Estilos específicos para dispositivos com largura de tela de 320x568 */

  .sc-bg-container {
    width: 18.75rem; /* Usando a largura total */
    margin-bottom: 10px; /* Adicionando espaço entre o texto e os botões */
  }

  .btningresso-img {
    padding: 10px; /* Reduzindo o padding da imagem */
  }

  .bgContainerPrincipal {
    width: 380px;
    height: 34rem;
  }
}

@media screen and (min-width: 360px) and (max-width: 740px) {
  .sc-bg-container {
    max-width: 18.75rem; /* Usando a largura total */
  }
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  /* Estilos específicos para dispositivos com largura de tela de 375x812 */
  .boxprincipal h1 {
    font-size: 1.9rem;
  }

  .sc-bg-container {
    max-width: 100%; /* Usando a largura total */
    margin-bottom: 15px; /* Adicionando espaço entre o texto e os botões */
  }

  .btningresso-img {
    padding: 15px; /* Reduzindo o padding da imagem */
  }

  
}

@media screen and (min-width: 375px) and (max-width: 667px) {
  .sc-bg-container {
    width: 308px;
  }

  .container-btn {
    width: 248px;
  }
}

@media screen and (min-width: 412px) and (max-width: 914px) {
  .sc-bg-container {
    width: 80.81rem; /* Usando a largura total */
    margin-bottom: 10px; /* Adicionando espaço entre o texto e os botões */
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Estilos específicos para tablets */

  .sc-bg-container {
    width: 73.75rem; /* Usando a largura total para tablets */
  }
  .boxprincipal span,
  .boxprincipal h1 {
    color: var(--white);
  }

  .boxprincipal h1 {
    font-size: 2.62rem;
  }

  .boxprincipal {
    height: auto;
  }

  .sc-bg-container {
    width: 73.75rem; /* Reduzindo o tamanho do contêiner para tablets */
  }

  .btningresso-img {
    display: none;
    margin-right: 180px;
    padding: 20px; /* Reduzindo o padding da imagem para tablets */
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bgContainerMargin {
    margin-top: 72px;
  }

  .sc-bg-container {
    max-width: 36.12rem; /* Reduzindo o tamanho do contêiner para tablets */
  }

  .boxprincipal span {
    font-size: 0.62rem;
  }
}

@media screen and (min-width: 810px) and (max-width: 1080px) {
  .sc-bg-container {
    max-width: 29.87rem; /* Reduzindo o tamanho do contêiner para tablets */
  }
}
