
.btnIngresso {
  width: 188px;
  height: 53px;
  border-radius: 34px;
  background: linear-gradient(90deg, #b32fe0 0%, #ffb126 115.16%);
  background: (
    90deg,
    color(display-p3 0.647 0.227 0.847) 0%,
    color(display-p3 1 0.71 0.29) 115.16%
  );
  box-shadow: 0px 0px 21.1px 0px rgba(217, 129, 135, 0.4);
  color: var(--white);
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  padding: 2px;
}

.container-btn {
  display: flex;
  flex-direction: row;
  margin: 16px 0;
  text-align: center;
}

.container-btn-palestrantes {
  padding: 1px 0 79px 0;
  margin: auto;
  position: relative;
  z-index: 2;
}

.boxCenterPaginaPrincipalConvidados {
  display: flex;
  flex-direction: column;
}

.container-btn-palestrantes .btnNovidades {
  width: 328px;
  height: 64px;
  margin: -26px auto;
}

.btnNovidades {
  width: 168px;
  height: 53px;
  border: 1px solid #ffff;
  border-radius: 34px;
  background: transparent;
  box-shadow: none;
  color: var(--white);
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 2px;
}

.btnCronograma {
  margin: 0 auto;
  padding: 0;
  width: 350px;
  height: 70px;
  border-radius: 34px;
  position: relative;
  top: 0;
  right: 0;
  background: var(--white);
  box-shadow: 0px 0px 21.1px 0px rgba(217, 129, 135, 0.4);
  color: var(--black);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 21.1px 0px rgba(217, 129, 135, 0.4);
  -moz-box-shadow: 0px 0px 21.1px 0px rgba(217, 129, 135, 0.4);
  -webkit-box-shadow: 0px 0px 21.1px 0px rgba(217, 129, 135, 0.4);
}

.btnCronogramaSecundary {
  margin: 0 auto;
  padding: 0;
  width: 350px;
  height: 70px;
  border-radius: 34px;
  position: absolute;
  top: 0;
  right: -176px;
  background: var(--white);
  box-shadow: 0px 0px 21.1px 0px rgba(217, 129, 135, 0.4);
  color: var(--black);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 21.1px 0px rgba(217, 129, 135, 0.4);
  -moz-box-shadow: 0px 0px 21.1px 0px rgba(217, 129, 135, 0.4);
  -webkit-box-shadow: 0px 0px 21.1px 0px rgba(217, 129, 135, 0.4);
}

@media screen and (min-width: 280px) and (max-width: 653px) {
  .bgContainerGarante {
    padding-top: 10px;
  }
  .container-btn-palestrantes .btnNovidades {
    width: 260px;
  }

  .btnCronograma {
    margin: 35px 0 -31px;
    width: 230px;
    font-size: 12px;
  }

  .btnCronogramaSecundary {
    margin: 0 auto;
    width: 230px;
    right: -114px;
    font-size: 12px;
  }
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  .btnCronograma {
    width: 326px;
    margin: 52px 0 -45px;
    }

    .btnCronogramaSecundary {
      width: 326px;
      right: -166px;
      margin: 10px 0;
    }
}
@media screen and (max-width: 768px)  {
  .btnIngresso, .btnNovidades {
    font-size: 12px;
  }

}

@media screen and (min-width: 768px) {


  /* Altere para telas maiores */
  .btnNovidades {
    width: 188px;
    height: 53px;
  }

  .container-btn {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

@media screen and (min-width: 280px) and (max-width: 320px) {

 .boxIngressoComprar {
  width: 100%;
 }
  .container-btn {
    width: 258px;
  }
}

@media screen and (min-width: 321px) and (max-width: 780px) {
  .container-btn {
    width: 338px;
  }
}

@media screen and (min-width: 782px) and (max-width: 926px) {
  .container-btn {
    width: 398px;
  }
}
