.btnIngresso {
    width: 188px;
    height: 53px;
    border-radius: 34px;
    background: linear-gradient(90deg, #b32fe0 0%, #ffb126 115.16%);
    background: (
      90deg,
      color(display-p3 0.647 0.227 0.847) 0%,
      color(display-p3 1 0.71 0.29) 115.16%
    );
    box-shadow: 0px 0px 21.1px 0px rgba(217, 129, 135, 0.4);
    color: var(--white);
    cursor: pointer;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
  }
  
  .container-btn {
  display: flex;
  flex-direction: row;
  margin: 16px 16px;
  text-align: center;
  }
  
  .content {
    display: none;
  }
  .container-btn-palestrantes {
    width: 100%;
    
  }

  .container-btn-palestrantes .btnNovidades {
    width: 344px;
    height: 64px;
    margin: 0 auto;
    

  }
  
  .btnNovidades {
    width: 168px;
    height: 53px;
    border: 1px solid #ffff;
    border-radius: 34px;
    background: transparent;
    box-shadow: none;
    color: var(--white);
    cursor: pointer;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }


  .btnCronograma {
    width: 260px;
    height: 70px;
    border-radius: 34px;
    background: var(--white);
    box-shadow: 0px 0px 21.1px 0px rgba(217, 129, 135, 0.4);
    color: var(--black);
    cursor: pointer;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0 auto;
    position: relative; /* ou absolute */
  top: 150px; /* ajuste conforme necessário */
  }


  @media screen and (min-width: 768px) {
  
 
    /* Altere para telas maiores */
  .btnNovidades {
    width: 188px;
    height: 53px;
  }
  
  
  .container-btn {
    display: flex;
    flex-direction: row;
    width: 100%;
    }

  }
  