.bgCookiePopUp {
    max-width: 320px;
    width: 100%;
    height: auto;
    right: 10px;
    bottom: 50px;
    background-color: aliceblue;
    z-index: 555;
    padding: 1.5rem 2rem;
    border-radius: 20px;
    transition: right 0.3s ease;
    position: fixed;
}

.bgCookiePopUp .headerCookiePopUp {
    display: flex;
    align-items: center;
    
}

.bgCookiePopUp a {
    color: blue;
}

.bgCookiePopUp h2 {
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

 .bgCookiePopUp h2, .bgCookiePopUp p {
    color: rgb(0, 0, 0);
    
}

.bgCookiePopUp p {
    text-align: left;
    color: rgb(42, 42, 42);
    font-size: 0.8rem;
    margin-top: 16px;
}

.bgCookiePopUp img{
    max-width: 18px;
    height: 18px;
  
}
.buttonsCookies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.buttonsCookies .buttonCookie {
    border: none;
    color: var(--white);
    width: calc(100% / 2 - 10px);
    padding: 8px 0;
    border-radius: 4px;
    background-color: rgb(243, 135, 13);
    cursor: pointer;
    transition: all 0.2s ease;
}

.buttonsCookies .buttonCookie:hover {
    background-color: #034bf1;
}