/* modalPalestrantes.module.css */

.bgModalPalestrantes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.431);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContentPalestrantes {
  width: 900px;
  height: 576px;
  background-color: var(--white);
  border-radius: 27px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border: none;
  z-index: 1500;
  padding: 0 16px 0 0;
}

.modal-body {
  background-color: var(--background);
  width: 50%;
  height: auto;
  border-radius: 26px 0 0 26px;
}
.social-icons-modal {
  position: relative;
}

.social-icons-modal a {
  color: #000000;
  margin: 6px;
}

.social-icons-modal svg {
  margin: 0;
}

.social-cons-bg-travado {
  display: block;
  width: 466px;
  height: 62px;
  background: #402159;
  border-radius: 27px 0 0 27px;
  box-sizing: border-box;
}
.modal-close-btn,
.social-icons-modal {
  cursor: pointer;
}

.bgModalPalestrantes .modalContentPalestrantes .modal-body img {
  border-radius: 26px 0 0 26px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bgModalPalestrantes .modalContentPalestrantes .modal-header h2 {
  font-size: 24px;
  font-weight: 400;
  color: #402159;
  font-family: "Krona One", sans-serif;
  margin-bottom: 20px;
}

.bgModalPalestrantes .modalContentPalestrantes .modal-header p {
  font-size: 12px;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #585659;
  margin-bottom: 20px;
  width: 292px;
  height: 264px;
}

.bgModalPalestrantes .modalContentPalestrantes .modal-header .btnComprarModal {
  width: 180px;
  height: 52px;
  border-radius: 34px;
  color: var(--white);
  font-size: 12px;
  font-family: "Sora", sans-serif;
  border: none;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(90deg, #b32fe0 6.67%, #ffb126 95.83%);
  background: linear-gradient(
    90deg,
    color(display-p3 0.647 0.227 0.847) 6.67%,
    color(display-p3 1 0.71 0.29) 95.83%
  );
  margin-bottom: 70px;
}

.modal-header {
  width: 50%;
  margin: 16px;
  padding: 10px 10px -20px 10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-header a {
  margin: 6px 0 0 0;
}

.modal-header-exit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -4%;
}

.modal-header-exit button {
  font-size: 18px;
  color: var(--white);
  border: none;
  border-radius: 50%;
  padding: 13px 18px;
  background-color: var(--black);
}
@media screen and (max-width: 368px) {
  .modal-body {
    background-color: var(--white);
    width: 100%;
  }

  .modal-header {
    width: 100%;
  }

  .bgModalPalestrantes .modalContentPalestrantes .modal-body img {
    display: none;
  }

  .bgModalPalestrantes .modalContentPalestrantes .modal-header p {
    font-size: 11px;
    width: 200px;
  }
}

@media screen and (max-width: 768px) {

  .modalContentPalestrantes {
    width: 90%;
    height: auto; /* Ajusta automaticamente a altura conforme o conteúdo */
    padding: 10px; /* Adiciona padding para espaçamento interno */
    border-radius: 20px; /* Ajusta a borda arredondada conforme necessário */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-body {
    background-color: var(--white);
    width: 100%;
    height: auto;
  }

  .modal-header {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px 10px -18px 10px; /* Aumenta o padding para dar mais espaço interno */
    box-sizing: border-box; /* Garante que o padding seja incluído na largura e altura total */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bgModalPalestrantes .modalContentPalestrantes .modal-header p {
    font-size: 12px;
    width: 100%;
    padding: 0 10px; /* Adiciona padding lateral ao parágrafo */
    height: auto;

  }

  .bgModalPalestrantes .modalContentPalestrantes .modal-body img {
    display: none;
  }


  .modal-header-exit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px; /* Adiciona padding à direita para afastar o botão de saída */
    font-size: 16px;
    padding: 12px 1px;
    text-align: center;
  }
}

@media screen and (min-widht: 1366px) and (max-width: 768px) {
  .social-cons-bg-travado {
    top: 69%;
    left: 14%;
    width: 900px;
    height: 568px;
  }
}
