#bgModalNovidades {
  width: 100%;
  height: auto;
}

.modalNovidades {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.431);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  padding-top: 50px;
}

.containerModalNovidades {
  width: 500px;
  height: 436px;
  background-color: var(--white);
  border-radius: 27px;
  margin: 0 auto;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: auto;
}

.headerformulario img {
  width: 109px;
  height: 136px;
  position: relative;
  margin: 20px -12px 46px -39px;
}

.headerformulario {
  width: 100%;
  height: 4rem;
  background: linear-gradient(90deg, #b32fe0 0%, #ffb126 115.16%);
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerformulario h2 {
  font-size: 1rem;
  text-align: center;
  color: var(--background);
}
.modal-header-exit-ingresso button {
  font-size: 12px;
  color: var(--white);
  border: none;
  border-radius: 50%;
  padding: 10px 14px;
  background-color: var(--black);
  margin: 10px 6px 20px 0;
}

.modal-header-exit-ingresso,
button {
  cursor: pointer;
}
.containerFormulario {
  margin: 16px 62px;
}

.containerFormulario h3 {
  font-size: 0.8rem;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 8px 0;
}

.formBox {
  display: flex;
  flex-direction: column;
  margin: 6px 0;
}

.formBox label {
  font-size: 0.8rem;
  color: var(--color-primary);
  font-weight: 500;
}

.formBox input {
  width: 100%;
  height: 38px;
  border: 1px solid rgba(213, 213, 213, 0.441);
  border-radius: 5px;
  background-color: rgba(210, 210, 210, 0.405);
  font-size: 0.8rem;
  padding: 4px;
  margin: 8px 0;
}

.formBox input:focus {
  border-color: rgba(116, 114, 114, 0.793);
  outline: none; /* Remova a borda padrão do navegador */
}

.formBox button {
  margin: 16px 0;
  padding: 16px 28px;
  background: linear-gradient(90deg, #b32fe0 0%, #ffb126 115.16%);
  border-radius: 44px;
  border: none;
  color: var(--white);
  font-size: 0.8rem;
  font-family: "Sora", sans-serif;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(215, 52, 233, 0.1);
}

.error {
  color: #721c24;
  padding: 4px;
}

@media screen and (max-width: 768px) {
  .containerFormulario {
    margin: 8px 18px;
  }

  .containerModalNovidades {
    width: 100%;
    height: 476px;
  }

  .formBox button {
    margin: 22px 0;
    padding: 20px 28px;
  }

  .containerFormulario h3 {
    font-size: 1rem;
  }

  .headerformulario img {
    margin: 0 -36px 46px -39px;
  }
}
