@import "./styles/all.css";

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black: #000;
  --white: #fff;
  --color-primary: rgba(64, 33, 89, 1);
  --background: #14081e;
  --background-secondary: rgba(29, 13, 43, 1);
  --background-tertiary: rgb(58, 28, 83);
  --font-krona-one-regular: "Krona One", sans-serif;
  --font-sora: "Sora", sans-serif;
  --color-orange: #ffb126;
  --color-roxo: #b32fe0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: var(--background);
}

img {
  display: block;
  width: 100%;
}


.animate__fadeInLeftBig {
  --animate-duration: 1000ms;
  --animate-delay: 0.60 s;

}
.animate__slideInUp {
  --animate-duration: 1800ms;
  --animate-delay: 0.60 s;
}

.animate__zoomIn{
  --animate-duration: 5000ms;
  --animate-delay: 0.60 s;
}
.boxTitle {
  width: 100%;
  height: 12rem;
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Container para os componentes */
.marginContainer {
  margin: 0 16px 0 16px;
}

.container {
  width: 100%;
  overflow-x: hidden;
}

.container-404 {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  text-align: center;
}

.container-center {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 500px;
  padding: 250px 0;
}
.container h1,
p {
  color: var(--white);
}

/* Display para os componentes */

.sc-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Espaçamento para os componentes */

.sc-gap-8 {
  gap: 8px;
}

.sc-gap-16 {
  gap: 16px;
}

.sc-gap-32 {
  gap: 32px;
}

.profile-card  {
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: center;
width: 1302px;
margin: 0 auto;
gap: 20px;
}


.number {
  display: none;
}

.margem-top-20 {
  margin-top: 20px;
}


.margem-top-30 {
  margin-top: 30px;
}


/* Adicionando media queries para responsividade */

@media screen and (max-width: 768px) {
 .profile-card  {
  width: 100%;
display: block;
 }
 .boxTitle {
    height: 16rem;
 }
  .container-center {
    width: 100%;
    padding: 100px 0;
  }
}

@media screen and (max-width: 576px) {
  .container-center {
    padding: 50px 0;
  }
}
