.containerCentralizadoBeneficios {
  display: flex;
  justify-content: center;
  overflow-x: hidden; /* Evita o estouro horizontal */
}

.bgContainerBeneficios {
  width: 100%;
  height: 230px;
  background-color: var(--background-secondary);
  display: block;
}

.btnBeneficios {
  width: 198px;
  height: 63px;
  padding: 20px 6px 20px 6px;
  border-radius: 80px;
  margin: 33px 0 0 0;
  background-color: var(--color-primary);
  display: flex;
  text-align: center;
}

.bgContainerBeneficios .btnBeneficios button {
padding: 45px;
}

.containerBotoes {
  display: flex;
  justify-content: space-between;
}

/* animação btnBeneficios */
/* styles.css */

@keyframes moveLeftRight {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(30%);
  }
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(30%);
  }
}



.btnBeneficios {
  display: inline-block; /* Garante que a animação afete o botão individualmente */
  animation: moveLeftRight 10s linear infinite;
}