.bgContainerCronograma {
  width: 100%;
  height: 62rem;
  padding-top: 86px;
  color: var(--white);
 
}

.bgContainerCronograma h3 {
  text-align: center;
}

.bgContainerCronograma h4 {
  text-align: center;
  font-family: "Krona One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.boxCronograma {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 28px;
  padding: 0; /* Remove o padding padrão da lista */
  margin: 16px 0;
}

.boxItemCronograma {
  width: 324px;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo */
  padding: 16px;
  border-radius: 30px;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxCronograma p {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  padding-bottom: 16px;
}

.imageCronograma {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  margin: 48px 0;
}

.boxCronograma .boxItemCronograma h4 {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 278px;
  height: 46px;
  text-transform: unset;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 23px;
  font-size: 16px;
  padding: 10px;
}

.boxItemCronograma span {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 278px;
  height: 46px;
  font-size: 16px;
  text-transform: unset;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 23px;
  margin: 38px 0 0;
  padding: 20px;
}

.boxItemCronograma:hover {
  border: 1px solid var(--color-orange);
}

.imageSatsParty {
  width: 178.74px;
  height: 89.8px;
}

@media screen and (max-width: 600px) {
  
  .boxItem,
  .boxItemTwo {
    width: 320px;
    max-width: 100%;
  }
}

@media screen and (min-width: 280px) and (max-width: 653px) {

  .bgContainerGarante {
    height: 158rem;
  }

  .bgContainerGarante h2 {
    font-size: 24px;
  }

  .imagensLogoConatinerSite {
    width: 200px;
  }
  .boxGarante span {
    font-size: 12px;
  }

  .boxListGarante li {
    font-size: 16px;
  }
  .boxItem,
  .boxItemTwo {
    width: 320px;
    padding: 16px;
  }

  .bgContainerCronograma h3 {
    font-size: 24px;
  }

  .boxCronograma .boxItemCronograma h4,
  .boxItemCronograma span {
    width: 215px;
    font-size: 12px;
    margin: 0;
  }
  .boxCronograma p {
    font-size: 12px;
    margin: 6px;
  }

  .imageCronograma {
    width: 100%;
  }

  .boxItemCronograma {
    width: 260px;
    height: 454px;
    padding: 22px;
  }
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  .boxItemCronograma {
    width: 306px;
    height: auto;
    padding: 28px;
  }

  .boxItem,
  .boxItemTwo {
    width: auto;
    padding: 26px;
  }
}

@media screen and (max-width: 768px) {
  .bgContainerCronograma {
    height: auto; /* Ajuste este valor conforme necessário */
    padding: 96px 0 20px 0;
    margin-bottom: 15rem;
  }

  .btnCronograma,
  .btnCronogramaSecundary {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .bgContainerGarante {
    height: 100rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 568px) {
  /* Estilos específicos para dispositivos com largura de tela de 320x568 */

  .bgContainerCronograma {
    height: 113rem; /* Ajuste este valor conforme necessário */
  }

  .bgContainerGarante {
    height: 252rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  .bgContainerCronograma {
    height: auto;
  }
  .bgContainerGarante {
    height: auto;
  }
}
@media screen and (min-width: 628px) and (max-width: 673px) {
 
  .bgContainerGarante {
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bgContainerCronograma {
    height: 88rem; /* Ajuste este valor conforme necessário */
  }
  .bgContainerGarante {
    height: auto;
    margin-bottom: 50px;

  }
}

@media screen and (min-width: 820px) and (max-width: 1180px) {
  .bgContainerCronograma {
    height: 100rem; /* Ajuste este valor conforme necessário */
    padding-top: 153px;
  }
}

@media screen and (min-width: 912px) and (max-width: 1368px) {
  .bgContainerCronograma {
    height: 100rem; /* Ajuste este valor conforme necessário */
  }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  .bgContainerGarante {
    height: 140rem;
  }
}

@media screen and (min-width: 1225px) and (max-width: 2199px) {
  .bgContainerCronograma {
    height: 60rem;
  }
  .bgContainerGarante {
    height: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1336px) {
  .bgContainerCronograma {
    height: 60rem;
    padding-top: 100px;
  }

  .bgContainerGarante {
    height: 100%;
  }
}

@media screen and (min-width: 2024px)  {
  .bgContainerGarante{
    height: auto;
  }
}