/* FAQ.module.css */

.faqContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 150px 20px;
}

.faqItem {
  background-color: #392e42;
  border-bottom: 1px solid rgba(205, 214, 218, 0.25);
}

.faqItem h3 {

  font-family: "Krona One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  margin-bottom: 79px;
  color: var(--white  );
}

.faqItem span {
  color: #9D96A8;
}

.containerTitleFaq {
  width: 100%;
  color: var(--white);
  text-align: center;
  font-family: "Krona One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  margin-bottom: 79px;

}

.containerTitleForm {
  width: 100%;
  color: var(--white);
  text-align: center;
  font-family: "Krona One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  margin-bottom: 79px;
 
}

.faqHeader {
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  padding: 55px 16px;
  cursor: pointer;

}

.faqNumber {
  margin: 22px;
  text-align: center;
  margin-right: 35px;
  font-weight: bold;
  font-size: 48px;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}

.faqQuestion {
  font-weight: bold;
  margin-right: auto;
}
.faqAnswer {
  display: none;
  padding: 0 88px;
  color: #5A5365;
}

.faqAnswer p {
  color: #5A5365;
}

.faqItem.open {
  background-color: #c5bdd0;
}

.faqItem.open h3 {
  color: #2F1F3D;
}

.faqItem.open span {
  color: #2F1F3D;
}

.faqItem .icon {
  width: 32px;
  height: 32px;
  background-color: #615868;
  color: #fff;
  border-radius: 50%;
  padding: 8px;
  
}

.faqToggle.open-icon .icon{
  background-color: #2F1F3D;
}

.faqItem .faqQuestion {
  margin: 0 auto 0 0;
}

.faqItem .title h3{
  text-align: left;
}

@media (max-width: 768px) {


.faqAnswer {
  padding: 0 38px;
  font-size: 14px;
}
  .faqContainer {
    padding: 10px 10px 150px 10px;
 
  }

  .faqItem {
    margin-bottom: 1px solid #CDD6DA;
  }

  .faqItem .faqNumber {
    margin: 12px;
    font-size: 34px;
  }

  .faqItem .faqQuestion {
    font-size: 18px;
    margin: 0 4px;
  }

}
