/* container: informações sobre o evento, contendo dois box */
.backgroundTop {
  position: relative; /* Garante que o position absolute do pseudo-elemento seja relativo a este container */
}

.backgroundTop::after {
  content: "";
  position: absolute;
  top: -45px;
  left: 0;
  transform: translateY(6%) rotate(-2deg); /* Rotaciona o elemento em -45 graus */
  width: 100%;
  height: 151px;
  background-color: #3f1a57; /* Cor desejada para o fundo não girado */
  z-index: -1; /* Move o fundo para trás do conteúdo */
}

.bgContainerGarante {
  width: 100%;
  height: 50rem;
  background: linear-gradient(
    180deg,
    #3f1a57 7.39%,
    rgba(107, 38, 151, 0) 90.74%
  );
  background: (
    180deg,
    color(display-p3 0.227 0.11 0.325) 7.39%,
    color(display-p3 0.388 0.165 0.569 / 0) 90.74%
  );
  padding-top: 5px;
  text-align: center;
}

.boxGarante {
  width: 100%;
  margin: 0 auto;
}
.logoContainer image {
  width: 100%;
}
.boxLogoGarante img {
  width: 100%;
}

.logoContainer {
  width: 100%;
}

.imagensLogoConatinerSite {
  width: 300px;
  height: 67px;
  margin: 0 auto;
}

.boxGarante span {
  display: flex;
  justify-content: center;
  margin: 24px;
}

.boxGarante {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 8px 0 64px 0;
  gap: 42px;
  padding: 0; /* Remove o padding padrão da lista */
}

.boxItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  width: 546px;
  height: 800px;
  border: 1px solid #ffffff;
  border-image-slice: 1;
  border-radius: 50px;
}

.boxItemTwo {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  width: 546px;
  height: 848px;
  border: 1px solid;
  border-image-slice: 1;
  border-radius: 50px;
  padding: 45px;
}

.boxColorSecundary {
  background: linear-gradient(174.89deg, #b32fe0 -4.27%, #ffb126 108.88%);
}

.boxColorPrimary {
  background-color: rgba(255, 255, 255, 0.3);
}

.boxListGarante {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 430px;
  margin: 0 auto;
}

.boxListGarante li {
  display: flex;
  align-items: center;
  margin: 32px 41px 0; /* Define um espaçamento interno de 5 pixels apenas no topo e na base dos itens da lista */
  line-height: 1.5; /* Ajusta o espaçamento entre as linhas */
  font-size: 18px;
}

.boxListGarante li p {
  display: flex; /* Faz com que o texto fique ao lado do ícone */
  align-items: center; /* Alinha verticalmente o texto com o ícone */
  margin: -5px; /* Remove margens do elemento <p> */
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.icon-garante {
  width: 38px;
  height: auto;
}

.boxListGarante svg {
  width: 28px;
  height: 24px;
  margin-right: 16px;
}

.btnGaranteColor {
  background-color: #3f1a57;
}

.containerbtnHome {

  display: block;
}

.marginBottonHomeCronograma {
  margin-top: 109px;
}

.marginBottonHomeCronogramaTwo {
  position: relative;
  margin-top: 79px;
}

.btnCronograma,
.btnCronogramaSecundary {
  font-size: 18px;
  color: #1d0d2b;
}

@media screen and (max-width: 768px) {
  .marginBottonHomeCronograma {
    margin-top: 120px;
  }

  .imagensLogoConatinerSite {
    width: 230px;
    height: 75px;
    margin: 0 auto;
  }

  .boxListGarante {
    width: 100%;
  }

  .boxGarante {
    gap: 56px;
  }

  .boxItem {
    width: 394px;
    height: 100%;
    margin: 0 auto;
  }

  .boxItemTwo {
    width: 394px;
    height: 100%;
  }

  .btnCronograma {
    width: 250px;
  }
}


@media screen and (min-width: 1200px) {
  .bgContainerGarante {
    height: 140rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 568px) {
  /* Estilos específicos para dispositivos com largura de tela de 320x568 */

  .marginBottonHomeCronograma {
    margin-top: 125px;
  }

  .bgContainerGarante {
    height: 140rem;
  }
}
@media screen and (min-width: 360px) and (max-width: 880px) {
  .marginBottonHomeCronograma {
    margin-top: auto;
  }
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  .marginBottonHomeCronograma {
    margin-top: 104px;
  }

  .bgContainerGarante {
    height: 170rem;
  }
}
@media screen and (min-width: 414px) and (max-width: 896px) {
  .marginBottonHomeCronograma {
    margin-top: 220px;
  }
}

@media screen and (min-width: 390px) and (max-width: 844px) {
  .marginBottonHomeCronograma {
    margin-top: auto;
  }
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
  .marginBottonHomeCronograma {
    margin-top: 118px;
  }
}

@media screen and (min-width: 820px) and (max-width: 1180px) {
  .marginBottonHomeCronograma {
    margin-top: 120px;
  }
}

@media screen and (min-width: 834px) and (max-width: 1194px) {
  .marginBottonHomeCronograma {
    margin-top: 120px;
  }
}

@media screen and (min-width: 777px) and (max-width: 672px) {
  .marginBottonHomeCronograma {
    margin-top: 123px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .marginBottonHomeCronograma {
    margin-top: 115px;
  }

  .bgContainerGarante {
    height: 148rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  .bgContainerGarante {
    height: 170rem;
  }
}

@media screen and (min-width: 1280px) and (max-width: 800px) {
  .marginBottonHomeCronograma {
    margin-top: 120px;
  }
}
