
#btnBtc,
#btnReal{
  position: relative;
}
#btnBtc {
  background: rgba(245, 233, 255, 0.95);
  color: rgba(20, 8, 30, 1);
color: rgba(20, 8, 30, 1);
z-index: 2;
}

#btnReal {
  background: rgba(245, 233, 255, 0.871);
  color: rgba(20, 8, 30, 1);
  margin-left: -31px;
  z-index: 1; 

}

#btnBtc.active {
  background: linear-gradient(315deg, #ED4811 10.21%, #CF9D47 80.18%);
  color: var(--white);/* Altere a cor do texto quando o botão estiver ativo */
}

#btnReal.active {
  background:  linear-gradient(315deg, #ED4811 10.21%, #CF9D47 80.18%);
  color: var(--white);/* Altere a cor do texto quando o botão estiver ativo */
}


.bgContainerComprarIngresso {
    width: 100%;
    height: 52rem;
    background: linear-gradient(180deg, rgba(22, 7, 31, 0) 0%, #16071F 30.27%);
}

.BoxIngresso {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.bgBoxComprarIngresso{
width: 100%;
}

.containerBgcomprar {
    width: 100px;
    background-color: #6c757d;
}

.boxIngressoComprar {
    width: 1006px;
    height: 430px;
    background-color: rgba(245, 233, 255, 0.05);
    border-radius: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    align-content: center;
   
}

 
.botaoContainerBtcRl button {
margin: 0 0 56px 0;
  padding: 16px 99px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  
}

.botaoContainerBtcRl button.active {
    background-color: #3F1A57;
    
  }
  
  .conteudoIngresso {
    width: 700px;
    max-width: 100%;
    margin: 0 48px;
  
  }

  .boxIngressoComprar span {
    margin: 8px;
    color: #d8d8d8;
    text-align: center;
    font-size: 0.8rem;
  }


  @media screen and (min-width: 280px) and (max-width: 320px) {

 .botaoContainerBtcRl button  {
    margin: -50px;
    padding: 16px 41px;
    display: flex;
   }
  
   #btnReal {
    margin-left: 0;
    margin-bottom: 56px;
   }
   .boxIngressoComprar {
    height: 700px;
}
  
  }

  @media screen and (min-width: 320px) and (max-width: 896px) {
    .boxIngressoComprar {
        width: 100%;
        height: 400px;
    }

    .botaoContainerBtcRl button{
       padding: 16px 20px;
       margin-bottom: 56px;
    }
    .botaoContainerBtcRl {
        display: flex;
        margin-bottom: 16px;
    }
      
  }


@media screen and (max-width: 767px){
    
    .botaoContainerBtcRl button {
        padding: 16px 32px;
        font-size: 16px;
        text-align: center;

    }
    .bgContainerComprarIngresso {
        height: 68rem;
    }
    .boxIngressoComprar {
        width: 100%;
        height: 736px;
        border-radius: 0;
     
    }
}