/* Container styles Box Principal - Home */
.bgContainerImg {
  max-width: 1488px;
  height: 100%;
  background-image: url("/sats-conf-bg.png"); /* Caminho para a sua imagem PNG */
  background-size: cover; /* Cobertura total da área do elemento */
  background-position: center; /* Posicionamento central da imagem */

}

.bgContainerPrincipal {
  height: 52rem;
  padding: 15rem 0 15rem 0;
  margin: 0 16px 0 16px;
}

.boxprincipal {

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.sc-bg-container {
  width: 380px;
}

.boxprincipal span,
.boxprincipal h1 {
  color: var(--white);
  font-family: "Krona One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.boxprincipal span {
  font-size: 16px;
}

.btningresso-img {
  padding: 36px 0;
}

@media screen and (max-width: 767px) {
  /* Estilos específicos para dispositivos móveis */
  .bgContainer {
    width: 442px;
    height: 50rem; /* Reduzindo a altura do contêiner */
  }

  .sc-bg-container {
    width: 330px; /* Usando a largura total para dispositivos móveis */
    margin-bottom: 20px; /* Adicionando espaço entre o texto e os botões */
  }

  .btningresso-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  /* Altere para telas maiores */

  .boxprincipal {
    width: 1000px;
    justify-content: space-between;
    margin-top: -80px;
  }
}
@media screen and (min-width: 280px) and (max-width: 653px) {
  .sc-bg-container {
    width: 260px; /* Usando a largura total */
  }

  .boxprincipal span {
    font-size: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 568px) {
  /* Estilos específicos para dispositivos com largura de tela de 320x568 */
  .bgContainerImg {
    width: 768px;
  }
  .sc-bg-container {
    width: 300px; /* Usando a largura total */
    margin-bottom: 10px; /* Adicionando espaço entre o texto e os botões */
  }

  .btningresso-img {
    padding: 10px; /* Reduzindo o padding da imagem */
  }
}


@media screen and (min-width: 375px) and (max-width: 812px) {
  /* Estilos específicos para dispositivos com largura de tela de 375x812 */
  .bgContainerImg{
    width: 768px;
  }
  .sc-bg-container {
    max-width: 100%; /* Usando a largura total */
    margin-bottom: 15px; /* Adicionando espaço entre o texto e os botões */
  }

  .btningresso-img {
    padding: 15px; /* Reduzindo o padding da imagem */
  }
}

@media screen and (min-width: 412px) and (max-width: 914px) {
  .sc-bg-container {
    width: 380px; /* Usando a largura total */
    margin-bottom: 10px; /* Adicionando espaço entre o texto e os botões */
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Estilos específicos para tablets */

  .sc-bg-container {
    width: 700px; /* Usando a largura total para tablets */
  
  }
.bgContainerPrincipal {
    padding: 25rem 0 15rem 0;

  }

  .boxprincipal span,
  .boxprincipal h1 {
    color: var(--white);
  }

  .boxprincipal h1 {
    font-size: 42px;
  }

  .boxprincipal {
    height: auto;
  }

  .sc-bg-container {
    width: 700px; /* Reduzindo o tamanho do contêiner para tablets */
  }

  .btningresso-img {
    display: none;
    margin-right: 180px;
    padding: 20px; /* Reduzindo o padding da imagem para tablets */
  }
}
