/* GridContainer.css */

.bgContainerSobre {
  width: 100%;
  height: 42rem;
  background-color: var(--background);
  padding: 5rem 0 5rem 0;
}

.boxprincipalSobre {
  max-width: 1200px;
  display: grid;
  align-items: center;
  justify-content: center; /* Centraliza o grid horizontalmente */
  grid-template-columns: 1fr;
  /* Um bloco por linha em dispositivos móveis */
  gap: 25px;
  /* Espaçamento entre os blocos */
  margin: 0 auto;
}
.block {
  padding: 0 8rem 0 8rem;
}

.block h2,
.block h3 {
  font-family: var(--font-krona-one-regular);
  font-weight: 400;
}

.block .content {
  width: 100%;
  font-family: var(--font-sora);
  font-weight: 300;
}

.title {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.item {
  width: 466px;
  height: auto;
  margin: 64px 0px 32px 0;
  border-bottom: 1px solid #ffffffc2;
  padding-bottom: 32px;
}
.item:last-child {
  border-bottom: none;
}

.content {
  max-height: 0;
  overflow: hidden; /* Oculta o conteúdo que excede o max-height */
  transition: max-height 0.6s ease; /* Adiciona uma transição suave */
  margin: 16px 0;
}

/* Define o max-height para um valor maior quando o conteúdo é exibido */
.content.open {
  width: 100%;
  max-height: 500px; /* Ajuste o valor conforme necessário */
}

.block .open {
  width: 100%;
  font-family: var(--font-sora);
  font-weight: 300;
}

.icon {
  font-size: 24px; /* Defina o tamanho desejado para os ícones */
}

.containerVideo {
  width: 300px;
  margin: 0 auto;
  display: block;
}
@media screen and (max-width: 380px) {
  .boxprincipalSobre {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .bgContainerSobre {
    height: auto;
  }

  .item {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .bgContainerSobre {
    height: auto;
  }

  .item {
    width: 100%;
  }
}

@media screen and (min-width: 280px) and (max-width: 653px) {
  .bgContainerSobre {
    height: 88rem;
  }

  .item {
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  /* Altere para dois blocos lado a lado em telas maiores */

  .boxprincipalSobre {
    grid-template-columns: 1fr 1fr;
  }

  .containerVideo {
    width: 300px;
  }
}

@media screen and (min-width: 320px) and (max-width: 568px) {
  .bgContainerSobre {
    height: 67rem;
  }
  .item {
    width: 300px;
  }
}

@media screen and (min-width: 628px) and (max-width: 673px) {
  .item {
    width: 348px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bgContainerSobre {
    height: 88rem;
  }

  .boxprincipalSobre {
    display: flex;
    flex-direction: column;
  }
}
