/* GridContainer.css */

.bgContainerSobre {
  width: 100%;
  height: 58rem;
  background-color: var(--background);
  padding: 15rem 0 15rem 0;
}

.boxprincipalSobre {
  max-width: 1200px;
  display: grid;
  align-items: center;
  justify-content: center; /* Centraliza o grid horizontalmente */
  grid-template-columns: 1fr;
  /* Um bloco por linha em dispositivos móveis */
  gap: 25px;
  /* Espaçamento entre os blocos */
  margin: 0 auto;



}
.block {
  padding: 0 8rem 0 8rem;
}

.block h2,
.block h3 {
  font-family: var(--font-krona-one-regular);
  font-weight: 400;
  margin-bottom: 16px;
}

.block .content {
  width: 100%;
  font-family: var(--font-sora);
  font-weight: 300;
}

.title {
  color: var(--white);
  display: flex;
  align-items: center;
  align-items: stretch;
  justify-content: space-between;
  cursor: pointer;
}

.item {
  width: 466px;
  height: auto;
  margin: 48px 0px;
  border-bottom: 1px solid #ffffffc2;
  padding-bottom: 32px;
}

.content {
  max-height: 0;
  overflow: hidden; /* Oculta o conteúdo que excede o max-height */
  transition: max-height 0.6s ease; /* Adiciona uma transição suave */
}

/* Define o max-height para um valor maior quando o conteúdo é exibido */
.content.open {
  width: 100%;
  max-height: 500px; /* Ajuste o valor conforme necessário */
}

.block .open {
  width: 100%;
  font-family: var(--font-sora);
  font-weight: 300;
}

.icon {
  font-size: 24px; /* Defina o tamanho desejado para os ícones */
}

.containerVideo {
  margin: 0 auto;
  display: block;

}

@media screen and (min-width: 768px) {
  /* Altere para dois blocos lado a lado em telas maiores */

  .boxprincipalSobre {
    grid-template-columns: 1fr 1fr;
  }


}

@media screen and (min-width: 320px) and (max-width: 568px) {
  .bgContainerSobre {
    height: 84rem;
  }
  .item {
    width: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bgContainerSobre {
    height: 84rem;
  }

.boxprincipalSobre {
  display: flex;
  flex-direction: column;

}
}