#Ingressos {
  width: 100%;
  overflow-x: hidden;
}

.backgroundTopIngresso {
  position: relative; /* Garante que o position absolute do pseudo-elemento seja relativo a este container */

}

.backgroundTopIngresso::before {
  content: '';
  position: absolute;
  top: -45px;
  left: 0;
  transform: translateY(-10%) rotate(-3deg); /* Rotaciona o elemento em -45 graus */
  width: 100%;
  height: 151px;
  background: rgba(58, 28, 83, 1);/* Cor desejada para o fundo não girado */
  z-index: 2; /* Move o fundo para trás do conteúdo */
}

.bgTabelaIngresso {
  width: 100%;
  height: 74rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(58, 28, 83, 1), rgb(99 42 145 / 57%));
}

.BoxTabelaIngresso {
  width: 800px;
  border-collapse: collapse; /* Garante que as bordas das células se fundam */
  margin: 0 auto;
  color: var(--white);
}

.BoxTabelaIngresso td {
  padding: 24px 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.bgTabelaIngresso th {
  padding: 24px 0;
}

.BoxTabelaIngresso img {
  width: 89px;
  height: 48px;
  display: block;
  margin: 0 auto;
}

.boxCenter {
  text-align: center;
}

.BoxTabelaIngresso .bordaNone {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.BoxTabelaIngresso .bordaleft {
  border-left: 0px;
}

.containerBtnIngresso {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0 100px 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .BoxTabelaIngresso {
    width: 100%;

  }

  .bgTabelaIngresso {
    height: auto;
  }
}
