.bgContainerImagemConvidadoGlobal {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
 
}

@media screen and (max-width: 768px) {
    .bgContainerImagemConvidadoGlobal {
        margin-top: -47px;
      
    }
    
}