
#PagPalestrantes {
  width: 100%;
  height: auto;
}

#PagPalestrantes img {
  filter: grayscale(0.2);
  image-rendering: auto;
}


.bgContainerImageConvidadosPage {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url("/sats-conf-bg.png"); /* Caminho para a sua imagem PNG */
  background-size: cover; /* Cobertura total da área do elemento */
  background-position: center; /* Posicionamento central da imagem */
}


.bgContainerConvidadosDestaque {
  height: auto;
  margin: 0 auto;
}

.bgContainerConvidadosPaginaPrincipal {
  width: 100%;
  height: 110rem;
  padding: -3rem 0 15rem 0;
  margin: 0 auto;
  background-color: transparent;
}

.boxprincipalConvidadoDestaque {
  width: 974px;
  height: 39rem;
  margin: 0 auto;
  padding: 178px 0 248px 0;
}

.sc-mgem-16 {
  width: 100%;
  margin: 38px 16px;
}

.boxBlocoConvidados {
  margin: 0 auto;
}

/* Estilos específicos para dispositivos móveis */
@media screen and (max-width: 768px) {
  /* #PagPalestrantes {
    height: 1100vh;
    min-height: 100%;
  } */

  .boxBlocoConvidados {
    margin-top: 0;
  }

  .bgContainerConvidadosPaginaPrincipal {
    width: 100%;
    height: 320rem;
    margin: 0 auto;
  }

  .bgContainerConvidadosDestaque {
    width: 349px;
  }

  .bgContainerConvidadosDestaque .boxprincipalConvidadoDestaque h2 {
    width: 100%;
    font-size: 28px;
    line-height: 1.5;
  }

  .boxprincipalConvidadoDestaque {
    width: 100%; /* Define a largura para automática */
    height: auto; /* Define a altura para automática */
    padding: 248px 0 188px 0;
  }

  .boxprincipalConvidadoDestaque span {
    font-size: 14px; /* Ajusta o tamanho da fonte */
  }

  .boxprincipalConvidadoDestaque h2 {
    font-size: 24px; /* Ajusta o tamanho da fonte */
  }
}

/* Para tablets */
/* Para iphone 5 */
@media screen and (min-width: 280px) and (max-width: 653px) {
 
  .containerConvidadosDestaque img {
    width: 268px;
    height: 320px;
  }
}


@media screen and (min-width: 360px) and (max-width: 800px) {
/* #PagPalestrantes {
 height: 1300vh;
} */
}
/* iphone 13pro */
@media screen and (min-width: 390px) and (max-width: 844px) {
 /* #PagPalestrantes {
  height: 1050vh;
 } */
}
/* iphone oneplus*/

@media screen and (min-width: 412px) and (max-width: 915px){
  /* #PagPalestrantes {
    height: 960vh;
  } */
}

/* iphone 12max */
@media screen and (min-width: 428px) and (max-width: 926px){
  /* #PagPalestrantes {
    height: 974vh;
  } */
}

@media screen and (min-width: 518px) and (max-width: 658px) {


  
  .bgContainerConvidadosPaginaPrincipal {
    height: 100%;
  }
}

@media screen and (min-width: 540px) and (max-width: 720px) {
  .bgContainerConvidadosPaginaPrincipal {
    height: 220rem;
  }
}

@media screen and (min-width: 596px) and (max-width: 1024px) {
/* 
  #PagPalestrantes {
    height: 654vh;
    min-height: 1025vh;
  } */

  
}

@media screen and (min-width: 628px) and (max-width: 673px) {
  .bgContainerConvidadosPaginaPrincipal {
    height: 100%;
  }

  .bgContainerGarante {
    height: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {  
  /* #PagPalestrantes {
    height: auto;
  } */
  .bgContainerConvidadosPaginaPrincipal {
    height: 100%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
  /* #PagPalestrantes {
    min-height: 600vh;
    
  } */

  .bgContainerConvidadosPaginaPrincipal {
    height: 168rem;
  }

}

@media screen and (min-width: 884px) and (max-width: 1104px) {

  .boxprincipalConvidadoDestaque{
    width: 100%;
  }

  .bgContainerConvidadosPaginaPrincipal {
    height: auto;
  }
}

@media screen and (min-width: 820px) and (max-width: 1180px) {
  /* #PagPalestrantes {
    min-height: 446vh;
  } */
  #PagPalestrantes .profile-card {
    width: 100%;
  }

  .palestrante-destaque img {
    width: 335px;
  }

  .bgContainerConvidadosPaginaPrincipal {
    height: 168rem;
  }
}
@media screen and (min-width: 912px) and (max-width: 1368px) {
  
  .bgContainerConvidadosPaginaPrincipal {
    height: 100%;
  }
}

@media screen and (min-width: 1268px) and (max-width: 2850px) {
  /* #PagPalestrantes {
    min-height: 380vh;
  } */
  .bgContainerConvidadosPaginaPrincipal {
    height: 100%;
  }
}

  
@media screen and (min-width: 1024px) {
/* #PagPalestrantes {
  min-height: 288vh;
} */
}


/* Para desktops */
@media screen and (min-width: 2858px) {

  .bgContainerConvidadosPaginaPrincipal {
    height: 100%;
  }
}