
.ContainerImagemConvidadosDestaque {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
    /* Grid com 5 imagens por linha */
    gap: 8px;
    /* Espaçamento entre as imagens */
    justify-items: center;
    align-items: center;
    /* Centraliza as imagens horizontalmente */
    /* padding: -1 76px; */
    /* Margem para centralizar o grid */
    margin: 0 auto;
    width: 1132px;
  }
  
  
  .containerConvidadosDestaque img {
    width: 368px;
    height: 420px;
    border: none;
  
  }

  
  .containerImagesBoxDestaque {
    position: relative;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
    width: 197px;
    height: 100px;
    margin-bottom: 65px;
    text-align: center;
    justify-content: center;
    background-color: white;
    /* Fundo branco */
    border-top: 5px solid;
    /* Adicione sua cor ou estilo de borda aqui */
    border-image: linear-gradient(90deg, #B32FE0 -363.21%, #FFB126 115.16%);
    /* Gradiente linear como borda */
    border-image-slice: 1;
    /* Certifique-se de ajustar a largura da borda conforme necessário */
    color: rgb(0, 0, 0);
    /* Cor do texto */
    cursor: pointer;
  
  }
  
  .containerImagesBoxDestaque h3 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-top: 25px;
  
  }

  .ContainerImagemConvidadosDestaque span {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-top: 25px;
  }
  
  /* Estilos específicos para dispositivos móveis */
  @media screen and (max-width: 768px) {
    .ContainerImagemConvidadosDestaque {
      grid-template-columns: repeat(322px 1fr);
      /* Margem para centralizar o grid */
      gap: 16px;
      max-width: 322px;
    }


  .containerConvidadosDestaque img {
    position: relative;
    width: 368px;
    height: 420px;
    border: none;
  
  }


  }

  @media screen and (min-width: 320px) and (max-width: 568px) {
    .containerConvidadosDestaque img {
      position: relative;
      width: 368px;
      height: 420px;
      border: none;
    
    }
  }