#Manutencao {
  width: 100%;
  height: 100vh;
  max-height: 100%;
  background: linear-gradient(90deg, #b32fe0 0%, #ffb126 115.16%);
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerManutencao {
  width: 100%;
  height: 68px;
  padding: 10px;
  background-color: black;
  font-size: 1rem;
}

.boxManutencao {
  width: 100%;
  margin: 158px;
  display: flex;
  justify-content: center;
}

.boxManutencao h3 {
  color: #391c4f;
  font-size: 1.25rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 7.5px;
}

.boxManutencao h4 {
  color: #391c4f;
  font-size: 2rem;
}

.footerManutencao {
  width: 100%;
  height: 56px;
  color: #fff;
  padding: 15px;
  background-color: black;
  align-content: flex-end;
}

.logoManutencao img {
  width: 300px;
  margin: 26px;
}

.footerManutencao a {
  color: #b32fe0;
}

@media (min-width: 1200px) {
  #Manutencao {
    width: 100%;
    height: 100vh;
  }

  .boxManutencao {
    margin: auto;
  }
}

@media screen and (min-width: 220px) and (max-width: 896px) {
  #Manutencao {
    width: 100%;
    height: 80vh;
  }

  .headerManutencao {
    padding: 7px 2px;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  #Manutencao {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    color: #fff;
  }

  .headerManutencao {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 0.75rem;
  }

  .boxManutencao {
    margin: auto;
  }

  .boxManutencao h3 {
    font-size: 1rem;
  }

  .boxManutencao h4 {
    font-size: 1.8rem;
  }

  .footerManutencao {
    height: 80px;
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 596px) {
  #Manutencao {
    width: 100%;
    height: 120vh;
  }

  .boxManutencao h3 {
    font-size: 0.85rem;
  }

  .boxManutencao h4 {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
  #Manutencao {
    width: 100%;
    height: 110vh;
  }

  .boxManutencao {
    margin: auto;
  }
}

@media screen and (min-width: 820px) and (max-width: 1180px) {
  #Manutencao {
    width: 100%;
    height: 100vh;
  }

  .headerManutencao {
    font-size: 0.75rem;
    padding: 15px 100px;
  }

  .boxManutencao {
    margin: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  #Manutencao {
    width: 100%;
    height: 100vh;
  }

  .boxManutencao {
    margin: auto;
  }

  .boxManutencao h3 {
    font-size: 1rem;
  }

  .boxManutencao h4 {
    font-size: 2rem;
  }

  .logoManutencao img {
    width: 440px;
    margin: 57px auto;
  }
}
