.bgContainerPalestrantes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(222px, 1fr)); /* Grid com 5 imagens por linha */
    gap: 14px; /* Espaçamento entre as imagens */
    justify-items: center; /* Centraliza as imagens horizontalmente */
    padding: 0 14px; /* Margem para centralizar o grid */
}

.containerImagesConvidadosGerais {
    position: relative;
    width: 222px;
    height: 252px;
    margin-bottom: 45px;
}

.containerImagesConvidadosGerais .imageConvidados {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para garantir que a imagem preencha o espaço corretamente */

}

.containerImagesBoxDestaque {
    position: relative;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 177px;
    height: 100px;
    margin: -38px 0;
    text-align: center;
    background-color: white; /* Fundo branco */
    border-top: 5px solid; /* Adicione sua cor ou estilo de borda aqui */
    border-image: linear-gradient(90deg, #B32FE0 -363.21%, #FFB126 115.16%); /* Gradiente linear como borda */
    border-image-slice: 1; /* Certifique-se de ajustar a largura da borda conforme necessário */
    color: rgb(0, 0, 0); /* Cor do texto */
    cursor: pointer;
}

.containerImagesBoxDestaque h3 {
    margin-top: 25px;
   
}


/* Estilos específicos para dispositivos móveis */
@media screen and (max-width: 768px) {
  .bgContainerPalestrantes  {
    grid-template-columns: repeat(1fr); /* Duas imagens por linha */
    padding: 130px 14px; /* Margem para centralizar o grid */
  }
}

@media screen and (min-width: 768px) and (max-width: 1119px)  {
    .bgContainerPalestrantes  {
        grid-template-columns: repeat(1fr); /* Duas imagens por linha */
        padding: 308px 14px; /* Margem para centralizar o grid */
    }
}